*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  background-color: #17181F;
  color:white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


main{
  max-width: 600px;
  margin: 13px auto;
  padding: 0px 10px;

}
@media screen and (max-width: 480px) {
  main{
    max-width: 400px;
  }
}

h1{
  text-align: center;
  color:#fff;
  margin:0;
  font-size: 2.6rem;
}
form{
  margin-top: 20px;
}
form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 3px 5px;
  border-radius: 4px;
  outline: none;
}
form input[type="datetime-local"]{
  color: #777;
}
input{
  font-size: 1rem;
}
form div.basic{
  display:flex;
  gap: 5px;
  margin-bottom: 5px;
}
form div.description{
  display:flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button{
  width: 100%;
  margin-top: 4px;
  border:0;
  border-radius: 5px;
  padding: 4px;
  background-color: #ddd;
  cursor: pointer;
  font-size: 1rem;

}

div.transactions{
  margin-top: 10px;
  
}
div.transaction{
  display:flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid #30313d;
}
div.transaction:first-child{
  border-top: none;
}

div.transaction div.name{
  font-size: 0.9rem;

}
div.transaction div.description{
  font-size: 0.8rem;
  color:#888;
}

div.right{
  text-align: right;
}
div.price.green{
  color:#1c1;
}
div.price.red{
  color:#c11;
}
div.transaction div.datetime{
  font-size: 1rem;
  color: #888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.time{
  font-size:.7rem;
}
.fixed{
  
}
.full{
  width: 100%;
  z-index: 999;
  position: sticky;
  top: 0;
  margin-top:-15px;
  background-color: #17181F;
}
.fix-btn{
  position: absolute;
  top:10px;
  right:5px;
  border-radius:4px;
  border: 2px solid greenyellow;
  color:white;
  background-color: transparent;
  outline: none;
}
.fix-btn:focus{
  cursor: pointer;
  border-radius:4px;
  border: 2px solid greenyellow;
  color:black;
  background-color: greenyellow;;
}
.dlt-entry{
  opacity: 0.5;
  border-radius:5px;
  padding:3px 0 -1px 5px;
  position: absolute;
  margin-left:-6px;
  cursor:pointer;
  background-color: #3e2828;
  color:transparent;
  border:none;
}
.dlt-entry:hover{
  color:red;
}
@media screen and (max-width: 350px) {
  .dlt-entry{
    width: 60%;
  }
}
@media screen and (min-width: 350px) {
  .dlt-entry{
    width: 40%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #161617;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}